


<template name="sendToFriendsForm">
    <!-- {{#autoForm schema=mySchema id="myForm" type="method" meteormethod="sendToFriends"}}
        <fieldset>
            {{> afQuickField name='preferred_role'}}
        </fieldset>
        <button id="preferenceUpdate" type="update" class="btn btn-primary">Update</button>
    {{/autoForm}} -->

    {{> quickForm collection=ECardDetails id="insertECardDetails" type="insert"}}
</template>