<head>
  <title>ECardApp</title>
</head>

<body>
  <div class="container">
  	{{>Router}}
  </div>
</body>

<template name="ecardpage">
    <div class="row">
        <h2>Dear {{sendToName}},</h2>
	        <p class="flow-text">{{msg}}</p>
			<h2 class="center-align">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/enMReCEcHiM" frameborder="0" allowfullscreen></iframe>
		</h2>
    </div>
    <div class="row">
        <div class="col s4 offset-s4 center-align">
            <a href="#" id="shareBtn" class="btn waves-light waves-effect">SHARE DIS</a>

            <div id="modal1" class="modal">
				<div class="modal-content">
					<h4>Modal Header</h4>
					<p>Send to more friends</p>			
				</div>
				<div class="modal-footer">
					<a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Send!</a>
				</div>
			</div>
        </div>
    </div>
</template>

<template name='ecardloading'>
	<h1 class="center-align">Loading Boys!</h1>
</template>